body {
  background: #a1ffab;
}

#root {
  min-width: 700px;
  margin: auto;
  margin-top: 12rem;
  width: 60%;
}


.definitions {
  background-color: linen;
  border: 3px solid #e85b0c;
  padding: 3rem;
}

.definitions input[type="radio"]:not(old){
  -webkit-appearance: none;
  width            : 2em;
  height           : 2em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.1rem solid rgb(4,8,192);
  border-radius    : 1em;
  background       :yellow;
  outline: none;
  vertical-align:middle;
}

.definitions input[type="radio"]:checked {
  background-color: green;
  outline: none;
}

.score {
  border: 6px dashed red;
  margin: 2rem;
  padding: 2rem;
  font-size: 2rem;
  width: 30%;
}
h2 {
  color: sienna;
  display: block;
}
